@page "/"

<h1>Witaj w HotelApp!</h1>
<p>System rezerwacji pokoi hotelowych.</p>

<ul>
    <li><a href="/create-reservation">Dodaj rezerwacjê</a></li>
    <li><a href="/reservations">Zobacz wszystkie rezerwacje</a></li>
</ul>
