<nav class="sidebar">
    <h4>Hotel</h4>

    <a href="/" class="nav-link">🏠 Strona główna</a>
    <a href="/create-reservation" class="nav-link">➕ Dodaj rezerwację</a>
    <a href="/reservations" class="nav-link">📋 Lista rezerwacji</a>
</nav>
