<nav class="sidebar">
	<h4 style="color: orangered;font-size: 5vh">Hotel</h4>

	<a href="/" class="nav-link" style="color: floralwhite;">🏠 Strona główna</a>
	<a href="/create-reservation" class="nav-link" style="color: floralwhite;">➕ Dodaj rezerwację</a>
	<a href="/reservations" class="nav-link" style="color: floralwhite;">📋 Lista rezerwacji</a>
	<a href="/rooms" class="nav-link" style="color: floralwhite;"> 🏠 Pokoje</a>
</nav>