.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
}
.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main {
    flex: 1; 
}

.hero-section {
    height: 100%; 
    width: 100%;
}